<div class="about-page bg-warning text-dark">
    <div class="about-section">
        <h1>About Us</h1>
    </div>
    <div class="welcome py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="font-weight-bold">About Store</h3>
                    <p>
                        Auto Parts Delivery Application is a low-price online auto parts store, which offers a wide range of products essential for your vehicle maintenance and improvement. We provide quality auto parts, accessories, tools, and more. All the products on our website are categorized for a seamless shopping experience, allowing you to find what you need quickly and easily.
                    </p>
                </div>
  
                <div class="col-lg-3">
                    <img src="../../../assets/images/AutoPartsStore.jpeg" class="img-fluid logo-img" alt="Auto Parts Store">
                </div>
  
                <div class="col-lg-6">
                  <h3 class="mt-4 font-weight-bold">What We Do</h3>
                  <p>
                      At Auto Parts Delivery, we go beyond just providing auto parts. We are your dedicated automotive partner, committed to enhancing your driving experience. Our mission is to empower vehicle owners with premium products, expert advice, and seamless service. From essential components to cutting-edge accessories, we curate a selection that reflects our passion for automotive excellence.
                  </p>
              </div>
              
              <div class="col-lg-6">
                  <h3 class="mt-4 font-weight-bold">Our Vision</h3>
                  <ul>
                      <li>Transforming the auto parts landscape with innovation and accessibility.</li>
                      <li>Building lasting connections with our community through trust and reliability.</li>
                      <li>Elevating the joy of driving by providing top-tier products and exceptional service.</li>
                  </ul>
              </div>            
            </div>
        </div>
    </div>
  </div>
  