/* your-component.component.css */

.about-page {
    color: #000; /* Set text color to black for better visibility */
    font-size: 18px;
    line-height: 1.5;
  }
  
  .about-section {
    padding: 30px;
    text-align: center;
    background-color: #d961ec;
    color: white;
    font-weight: bold;
  }
  
  .welcome {
    background-color: #fff;
    padding: 20px;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .title {
    color: grey;
  }
  
  .logo-img{
    border-radius: 50%;
    margin-left: 50%;
    box-shadow: 0 0 17px 5px #ddabe6;
  }
  
  h2 {
    color: #555;
  }
  
  h3 {
    color: black;
  }
  
  .team {
    background-color: aquamarine;
    padding: 20px;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
  }
  