.container {
    border-radius: 5px;
    box-shadow: 0 0 16px 1px #b68cab;
    padding: 20px;
    background-color: #fff;
    background-size: flex; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    color: black; /* Adjust text color for better contrast */
  }
  